
@{
    ViewData["Title"] = "Deduction Descriptions";
}

@{
    List<object> toolbarItems = new List<object>();
    toolbarItems.Add("Add");
    toolbarItems.Add("Edit");
    toolbarItems.Add("Delete");
    toolbarItems.Add("Update");
    toolbarItems.Add("Cancel");
}

<h1>Deduction Descriptions</h1>

<ejs-grid id="Grid" allowPaging="true" allowSorting="true" actionComplete="complete" toolbar=toolbarItems>
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog"></e-grid-editSettings>
    <e-grid-pagesettings pagesize="10"></e-grid-pagesettings>
    <e-data-manager url="/DeductionDescription/DataSource" insertUrl="/DeductionDescription/Insert" updateUrl="/DeductionDescription/Update" removeUrl="/DeductionDescription/Delete" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-columns>
        <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" visible="false"></e-grid-column>
        <e-grid-column field="Description" headerText="Description" type="string" width="120"></e-grid-column>
        <e-grid-column field="DeductionTypeId" headerText="Type" type="string" width="120"></e-grid-column>
        <e-grid-column field="DeductionCalculationTypeId" headerText="Calculation Type" type="string" width="120"></e-grid-column>
        <e-grid-column field="GLCode" headerText="GL Code" type="string" width="120"></e-grid-column>
        <e-grid-column field="SubCategoriesExist" headerText="Sub Categories" editType="booleanedit" displayAsCheckBox="true" type="boolean"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<script type="text/javascript">
    function complete(args) {
        if ((args.requestType === 'beginEdit' || args.requestType === 'add')) {
            let dialog = args.dialog;
            // change the header of the dialog
            dialog.header = args.requestType === 'beginEdit' ? 'Edit Record' : 'New Record';
        }
    }

</script>