
@{
    ViewData["Title"] = "Earning Types";
}

@{
    List<object> toolbarItems = new List<object>();
    toolbarItems.Add("Add");
    toolbarItems.Add("Edit");
    toolbarItems.Add("Delete");
    toolbarItems.Add("Update");
    toolbarItems.Add("Cancel");
}

<h1>Earning Types</h1>

<ejs-grid id="Grid" allowPaging="true" allowSorting="true" actionComplete="complete" toolbar=toolbarItems>
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog"></e-grid-editSettings>
    <e-grid-pagesettings pagesize="10"></e-grid-pagesettings>
    <e-data-manager url="/EarningType/DataSource" insertUrl="/EarningType/Insert" updateUrl="/EarningType/Update" removeUrl="/EarningType/Delete" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-columns>
        <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" visible="false"></e-grid-column>
        <e-grid-column field="Description" headerText="Earning" type="string" width="120"></e-grid-column>
        <e-grid-column field="ActivityType" headerText="Activity Type" editType = "dropdownedit" width="120" edit = "@(new { @params = new { dataSource = ViewBag.ActivityDropDown, fields = new { text = "ActivityType", value = "ActivityType" } } } )"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<script type="text/javascript">
    function complete(args) {
        if ((args.requestType === 'beginEdit' || args.requestType === 'add')) {
            let dialog = args.dialog;
            // change the header of the dialog
            dialog.header = args.requestType === 'beginEdit' ? 'Edit Record' : 'New Record';
        }
    }

</script>
